.cards__description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 25px 15px 31px 21px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
