.popup__container {
  position: relative;
  margin: 0 auto;
  align-self: center;
  width: 238px;
  padding: 25px 22px;
  border-radius: 10px;
  background-color: white;
}

@media (min-width: 1280px) {
  .popup__container {
    padding: 34px 36px 37px;
    width: 358px;
  }
}
