.profile {
  margin: 0 auto;
  width: 282px;
  padding-top: 38px;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .profile {
    width: 581px;
    display: grid;
    grid-template-columns: 146px 1fr 131px;
  }
}

@media (min-width: 1280px) {
  .profile {
    width: 880px;
    grid-template-columns: 150px 1fr 150px;
    padding-top: 50px;
    margin-bottom: 51px;
  }
}
