.form__input {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-bottom: 12px;
  border: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  width: 238px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__input:last-of-type {
  margin-bottom: 48px;
}

@media (min-width: 1280px) {
  .form__input {
    width: 358px;
  }
}

