.profile__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #FFFFFF;
  width: 282px;
}

@media (min-width: 768px) {
  .profile__info {
    justify-content: flex-start;
    align-content: center;
  }
}

@media (min-width: 1280px) {
  .profile__info {
    width: 336px;
  }
}
