.footer {
  margin: 0 auto;
  width: 282px;
  margin-bottom: 36px;

}

@media (min-width: 768px) {
  .footer {
    width: 581px;
  }
}

@media (min-width: 1280px) {
  .footer {
    width: 880px;
  }
}
