.images__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .images__list {
    display: flex;
    flex-wrap: wrap;
    width: 581px;
    column-gap: 17px;
  }
}

@media (min-width: 1280px) {
  .images__list {
    width: 880px;
  }
}
